
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
@font-face {
  font-family: Battambang !important;
  font-size:14px !important;
  font-style: normal;
  font-weight: 400;
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
body{
  font-family: Battambang !important;
  font-size:14px !important;
}